[submodule "vendors/auto-launch"]
	path = vendors/auto-launch
	url = https://github.com/zzzgydi/auto-launch.git
[submodule "vendors/cargo-packager"]
	path = vendors/cargo-packager
	url = https://github.com/crabnebula-dev/cargo-packager.git
[submodule "vendors/enigo"]
	path = vendors/enigo
	url = https://github.com/enigo-rs/enigo.git
[submodule "vendors/gpui-component"]
	path = vendors/gpui-component
	url = https://github.com/longbridge/gpui-component.git
[submodule "vendors/mcp-proxy"]
	path = vendors/mcp-proxy
	url = https://github.com/nuwax-ai/mcp-proxy.git
[submodule "vendors/rcoder"]
	path = vendors/rcoder
	url = https://github.com/nuwax-ai/rcoder.git
[submodule "vendors/tray-icon"]
	path = vendors/tray-icon
	url = https://github.com/tauri-apps/tray-icon.git
[submodule "vendors/zed"]
	path = vendors/zed
	url = https://github.com/zed-industries/zed.git
[submodule "temp/duckdb"]
	path = temp/duckdb
	url = https://github.com/duckdb/duckdb.git

[submodule "vendors/symposium-acp"]
	path = vendors/symposium-acp
	url = https://github.com/symposium-dev/symposium-acp.git
