/target
/tmp
/temp
/other
/dist
.idea
/logs

.classpath
project_workspace
.settings
.checkstyle
.checkstyle_suppressions.xml
.DS_Store
docker/rcoder
.vscode
docker/rcoder-agent-runner/bin/agent_runner
docker/rcoder-agent-runner/downloads
docker/computer-cache
docker/computer-project-workspace
docker/logs

# Stakpak session files
.stakpak/session*
crates/agent_runner/config.yml
